* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	background-color: rgb(250, 250, 214);
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
	background-color: rgb(240, 240, 165);
}

main {
	padding: 20px;
}

h1,
h2,
h3,
p,
button,
input {
	font-family: "Chewy", system-ui;
	font-weight: 400;
	font-style: normal;
}

p:first-of-type {
	margin-bottom: 30px;
}

h2,
h3 {
	margin-bottom: 15px;
}

input {
	padding: 5px;
	width: 80%;
	margin-top: 15px;
	border-radius: 4px;
}

button {
	padding: 5px 10px;
	background-color: rgb(243, 197, 165);
	border-color: rgb(167, 166, 166);
	outline: none;
	border-radius: 4px;
}

.blurin {
	animation: blurin 0.2s ease-in forwards;
}

@keyframes blurin {
	100% {
		filter: blur(15px);
		opacity: 0;
	}
}

.hide {
	opacity: 0;
	transform: translateX(-200px) scale(0.5);
}

.reveal {
	opacity: 1;
	transform: translateX(0) scale(1);
	transition: 0.5s;
}

.error {
	margin-top: 15px;
	color: rgb(235, 112, 112);
	padding: 10px 15px;
	border: 1px solid red;
	border-radius: 4px;
	background-color: rgb(253, 211, 211);
}
